CREATE OR ALTER   PROCEDURE [dbo].[SP_FixedAssets_UpdateAssignment]
    @AssetId INT, @EmpleadoId INT = NULL, @BodegaId INT = NULL, @ModifiedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON; SET XACT_ABORT ON;
    DECLARE @ctx BINARY(128) = CAST(CONVERT(BINARY(4), ISNULL(@ModifiedBy, 0)) AS BINARY(128));
    SET CONTEXT_INFO @ctx;

    BEGIN TRANSACTION
    BEGIN TRY
        DECLARE @EmpleadoAnterior INT
        SELECT @EmpleadoAnterior = AssignedToEmployeeId FROM FixedAssets WHERE AssetId = @AssetId

        IF ISNULL(@EmpleadoAnterior, -1) != ISNULL(@EmpleadoId, -1)
        BEGIN
            UPDATE ResponsibilityLetterDetail
            SET IsCurrent = 0
            WHERE AssetId = @AssetId
              AND IsCurrent = 1
        END

        UPDATE FixedAssets SET
            AssignedToEmployeeId = @EmpleadoId,
            CurrentWarehouseId = @BodegaId,
            ModifiedDate = GETDATE(),
            ModifiedBy = @ModifiedBy
        WHERE AssetId = @AssetId;

        IF @@ROWCOUNT = 0
        BEGIN ROLLBACK TRANSACTION; SELECT -1; RETURN; END

        COMMIT TRANSACTION; SELECT 1;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; SELECT 0;
    END CATCH
END