CREATE OR ALTER PROCEDURE SP_FixedAssetAttributeDefinitions_Delete
    @AttributeDefId INT,
    @IsActive       BIT,
    @ModifiedBy     INT = NULL  -- solo para CONTEXT_INFO (esta tabla no tiene columna ModifiedBy)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ctx BINARY(128) = CAST(CONVERT(BINARY(4), ISNULL(@ModifiedBy, 0)) AS BINARY(128));
    SET CONTEXT_INFO @ctx;

    BEGIN TRANSACTION
    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM FixedAssetAttributeDefinitions WHERE AttributeDefId = @AttributeDefId)
        BEGIN ROLLBACK TRANSACTION; SELECT -1; RETURN; END

        UPDATE FixedAssetAttributeDefinitions SET
            IsActive = @IsActive
        WHERE AttributeDefId = @AttributeDefId

        COMMIT TRANSACTION; SELECT 1;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; SELECT 0;
    END CATCH
END