CREATE OR ALTER PROCEDURE SP_FixedAssetTransferStatus_Inactive
    @TransferStatusId   INT,
    @IsActive           BIT,
    @ModifiedBy         INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ctx BINARY(128) = CAST(CONVERT(BINARY(4), ISNULL(@ModifiedBy, 0)) AS BINARY(128));
    SET CONTEXT_INFO @ctx;

    BEGIN TRANSACTION
    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM [dbo].[FixedAssetTransferStatus]
                       WHERE [TransferStatusId] = @TransferStatusId)
        BEGIN
            ROLLBACK TRANSACTION
            SELECT -1  -- No existe
            RETURN
        END

        -- Verificar si tiene traslados asociados (solo aplica al inactivar, no al reactivar)
        IF @IsActive = 0 AND EXISTS (SELECT 1 FROM [dbo].[FixedAssetTransfers]
                   WHERE [TransferStatusId] = @TransferStatusId)
        BEGIN
            ROLLBACK TRANSACTION
            SELECT -2  -- Tiene traslados, no se puede inactivar
            RETURN
        END

        UPDATE [dbo].[FixedAssetTransferStatus] SET
            [IsActive]      = @IsActive,
            [ModifiedDate]  = GETDATE(),
            [ModifiedBy]    = @ModifiedBy
        WHERE [TransferStatusId] = @TransferStatusId

        COMMIT TRANSACTION
        SELECT 1

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        SELECT 0
    END CATCH
END