CREATE OR ALTER PROCEDURE SP_FixedAssetClassificationCategories_Inactive
    @ClassificationId INT,
    @IsActive         BIT,
    @ModifiedBy       INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ctx BINARY(128) = CAST(CONVERT(BINARY(4), ISNULL(@ModifiedBy, 0)) AS BINARY(128));
    SET CONTEXT_INFO @ctx;

    BEGIN TRANSACTION
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM [dbo].[FixedAssetClassificationCategories]
                       WHERE [ClassificationId] = @ClassificationId)
        BEGIN ROLLBACK TRANSACTION; SELECT -1; RETURN; END

        -- No inactivar si tiene categorías activas asignadas (solo aplica al inactivar, no al reactivar)
        IF @IsActive = 0 AND EXISTS (SELECT 1 FROM [dbo].[FixedAssetCategories]
                   WHERE [ClassificationId] = @ClassificationId AND [IsActive] = 1)
        BEGIN ROLLBACK TRANSACTION; SELECT -2; RETURN; END

        UPDATE [dbo].[FixedAssetClassificationCategories] SET
            [IsActive]     = @IsActive,
            [ModifiedDate] = GETDATE(),
            [ModifiedBy]   = @ModifiedBy
        WHERE [ClassificationId] = @ClassificationId;

        COMMIT TRANSACTION; SELECT 1;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; SELECT 0;
    END CATCH
END